/**
 * @file
 * Navigation Styling
 *
 * Default menu styling (ul.menu) is defined in system-menus.css.
 */

/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #9F0000;
}

/*
 * Navigation bar
 */
#navigation {
  margin: 40px 0 0;
  padding: 0;
  float: none;
}

.region-navigation {
}

/*
 * Primary and Secondary menu links
 */
#main-menu{
  line-height: normal;
  list-style: none outside none;
}

#main-menu li a{
  border: medium none;
  color: #FFFFFF;
  display: block;
  float: left;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0 2px 0 0;
  padding: 5px 20px;
  text-decoration: none;
  text-transform: capitalize;
}

#main-menu li a:hover{
  background: #F2AE30;
  text-decoration: none;
  color: #000000;
}

/*
 * The active item in a Main menu
 */
#main-menu li a.active{
  background: none repeat scroll 0 0 #F2AE30;
  color: #000000;
}

/*
** Header menu
*/
/* 1st level */
.header-primary-menu {
}
.header-primary-menu .block {
  margin: 0;
}
.header-primary-menu .content ul {
  margin: 0;
}
.header-primary-menu .content > ul > li {
  display: inline-block;
}
.header-primary-menu .content > ul > li > a {
  border: medium none;
  color: #FFFFFF;
  display: block;
  float: left;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0 2px 0 0;
  padding: 5px 20px;
  text-decoration: none;
  text-transform: capitalize;
}
.header-primary-menu .content > ul > li:hover > a,
.header-primary-menu .content > ul > li > li.active:hover > span > a {
  background: #F2AE30;
  text-decoration: none;
  color: #000000;
}
.header-primary-menu .content > ul > li > a:active,
.header-primary-menu .content > ul > li > a:focus {
  background: #F2AE30;
  text-decoration: none;
  color: #000000;
}
.header-primary-menu .content > ul > li.active-trail {
  position: relative;
}
.header-primary-menu .content > ul > li.active-trail > a {
  background: none repeat scroll 0 0 #F2AE30;
  color: #000000;
}
.header-primary-menu .content > ul > li.active-trail > a:hover {
  background: #F2AE30;
  text-decoration: none;
  color: #000000;
}
.header-primary-menu .content > ul > li.expanded {
  position: relative;
}
.header-primary-menu .content > ul > li.expanded > a {
  background-image: url(../images/arrow-down-white.png);
  background-repeat: no-repeat;
  background-position: 98% 50%;
  margin: 0 10px 0 0; /* LTR */
}
.header-primary-menu .content > ul > li.expanded.active-trail > a {
  background: url(../images/arrow-down-black.png) no-repeat 90% 16px;
}
/* 2nd, 3rd, 4th level */
.header-primary-menu .content li.expanded ul {
  display: none;
  position: absolute;
  top: 26px;
  left: 0px; /* LTR */
  background-color: #000000;
  z-index: 100;
  opacity: 0.95;
  margin: 0;
  padding: 0;
}
.header-primary-menu .content li.expanded:hover > ul {
  display: block;
}
.header-primary-menu .content li.expanded li {
  display: block;
  width: 100px;
}
.header-primary-menu .content li.expanded li a {
  padding: 7px 15px 7px 21px;
  color: #ffffff;
  display: block;
}
.header-primary-menu .content li.expanded li a:hover {
  background: #F2AE30;
  text-decoration: none;
  color: #000000;
}
.header-primary-menu .content li.expanded li a:active,
.header-primary-menu .content li.expanded li a:focus {
  background: #F2AE30;
  text-decoration: none;
  color: #000000;
}
.header-primary-menu .content li.expanded li.expanded {
  position: relative;
}
.header-primary-menu .content li.expanded li.expanded > a {
  background-image: url("../images/arrow-right-white.png");
  background-repeat: no-repeat;
  background-position: 96% 50%;
}

/* Third level */
.header-primary-menu .content li.expanded li.expanded ul {
  margin: 0 0 0 100px;
  top: 0;
  left: 0; /* LTR */
}
/*
* End Drop down menus
*/

#secondary-menu {
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks. See http://drupal.org/project/menu_block
 */
.block-menu_block {
}
