/**
 * @file
 * Page Background Styling
 *
 * The default layout method of Zen doesn't give themers equal-height columns.
 * However, equal-height columns are difficult to achieve and totally
 * unnecessary. Instead, use the Faux Columns method described in the following
 * ALA article:
 *   http://www.alistapart.com/articles/fauxcolumns/

 * Design by Free CSS Templates
 *  http://www.freecsstemplates.org
 * Released for free under a Creative Commons Attribution 2.5 License
*/


body {
  margin: 0;
  padding: 0;
  background: url(../images/3345598311_3e9cd155e3.jpg);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #FFFFFF;
}

#page-wrapper {
  width: 960px;
  margin: 0px auto;
}

#page {
}

#header {
}

#header .section {
}

#main-wrapper {
}

#main {
}

#footer {
}

#footer .section {
}
